<h1 style="color:Blue;">Electronics Store Management Sysytem</h1>


<body>
	
    <a href="https://sj-sql.run-us-west2.goorm.io/display">Display Electronics</a>
    <a href="https://sj-sql.run-us-west2.goorm.io/update" class="active">Update inventory</a>
	  <a href="https://sj-sql.run-us-west2.goorm.io/search" class="active">Search</a>
<a href="https://sj-sql.run-us-west2.goorm.io/delete" class="active">Delete Electronics</a>
	
	
	
	
</body>