<h1>
	Search for Product
</h1>


<form method="POST" action="/search">
	Product Type:<input type="text" name="Type"
	placeholder="Enter Product Type">
	<button>
		Search
	</button>
	 <a href="https://sj-sql.run-us-west2.goorm.io">HOME</a>
</form>